* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: #fff;
}

nav .logo {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

nav .links {
  text-decoration: none;
  color: #fff;
}

nav .nav-links li {
  text-decoration: none;
}
nav .nav-links li:hover {
  border-bottom: 1px solid #fff;
}

nav .burger {
  font-size: 25px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  nav .burger {
    display: block;
  }

  nav .nav-links {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    padding: 40px;
    width: 25%;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
  }

  nav .nav-links li {
    padding: 25px;
    border-bottom: 1px solid #ccc;
  }

  nav .nav-links li:hover {
    border-bottom: 0px solid #fff;
  }
}
